<head>
    <link rel="stylesheet" href="static/style.css">
</head>

<a href="/logout">Выйти</a><br>
<a href="/all_articles">Перейти к статьям</a><br>
<a href="/profile">Мой профиль</a><br><br>

<h1>Вы действительно хотите удалить эту статью?</h1>
<h4>{{message}}</h4>
<hr> 
<div class="beautiful">
    <div>
        Категория: {{ article.category }}<br>
        Название: {{ article.title }}<br>
        Краткое описание: {{ article.brief_description }}<br>
        {% if article.url %}
        Ссылка на источник: <a href="{{ article.url }}">{{ article.url }}</a><br>
        {% endif %}
        {% if article.file %}
        Скачать файл {{ article.file }}:
        <form action="/download_file/{{article.id}}" method="post" enctype=multipart/form-data>
            <button type="submit">Download</button>
        </form>
        {% endif %}
        Время создания: {{article.date_published.strftime('%Y-%m-%d') }}<br>
        Автор: {{ article.author.email }}<br>
    </div>
</div>
<form action="" method="post" enctype=multipart/form-data>   
    <input type="submit" value="Да">
</form>