<head>
    <link rel="stylesheet" href="static/style.css">
</head>

<a href="/logout">Выйти</a><br>
<a href="/profile">Мой профиль</a><br>
<a href="/create_article">Создать статью</a><br><br>

<form action="/filtered_articles" method="GET">
    Категория: <select name="category">
        <option value="Any">Любая</option>
        {% for cat in categories %}
        <option value="{{cat}}">{{cat}}</option>
        {% endfor %}
    </select>
    Заголовок: <input type="text" name="title">
    Язык: <select name="language">
        <option value="Any">Любой</option>
        <option value="English">английский</option>
        <option value="Russian">русский</option>
    </select>
    Автор: <input type="text" name="author">
    <input type="submit" value="Поиск">
</form>

<div class='beautiful'>
{% for article in articles %}
    <div>
        Категория: {{ article.category }}<br>
        Язык: {{ article.language }}<br>
        Название: {{ article.title }}<br>
        Краткое описание: {{ article.brief_description }}<br>
        {% if article.url %}
        Ссылка на источник: <a href="{{ article.url }}">{{ article.url }}</a><br>
        {% endif %}
        {% if article.file %}
        Скачать файл {{ article.file }}:
        <form action="/download_file/{{article.id}}" method="post" enctype=multipart/form-data>
            <button type="submit">Download</button>
        </form>
        {% endif %}
        Время создания: {{article.date_published.strftime('%Y-%m-%d') }}<br>
        Автор: {{ article.author.email }}<br>
    </div>
{% endfor %}
</div>
