<a href="/logout">Выйти</a><br>
<a href="/all_articles">Перейти к статьям</a><br>
<a href="/create_article">Создать статью</a><br><br>


<h1>{{ user.username }}</h1>
<h3>{{ user.email }}</h3>

{% for article in user_articles %}
    <div>
        Категория: {{ article.category }}<br>
        Название: {{ article.title }}<br>
        Краткое описание: {{ article.brief_description }}<br>
        {% if article.url %}
        Ссылка на источник: <a href="{{ article.url }}">{{ article.url }}</a><br>
        {% endif %}
        {% if article.file %}
        Скачать файл {{ article.file }}:
        <form action="/download_file/{{article.id}}" method="post" enctype=multipart/form-data>
            <button type="submit">Download</button>
        </form>
        {% endif %}
        Время создания: {{article.date_published.strftime('%Y-%m-%d') }}<br>
        Автор: {{ article.author.email }}<br><br>
    </div>
{% endfor %}