<a href="/login">Войти</a><br>

<form action="" method="post" enctype=multipart/form-data>
    <div class="container">
      <h1>Регистрация</h1>
      <hr>
      <label><b>Имя пользователя</b></label>
      <input type="text" required name="username">
  
      <label><b>Логин (электронная почта)</b></label>
      <input required type="email" name="email">
  
      <label><b>Пароль</b></label>
      <input type="password" required name="password">
      
      <label><b>Номер телефона (для подтверждения, что вы не робот)</b></label>
      <input name="phone" placeholder="+375290000000">
  
      <input type="submit" value="Регистрация">
    </div>
  </form>

<!-- <form name="register" id="form_1" action="" method="post" enctype=multipart/form-data>
    Имя пользователя<input type="text" required name="username"><br>
    Логин (электронная почта)<input required type="email" name="email"><br>
    Пароль<input type="password" required name="password"><br>
    <input type="submit" value="Регистрация">
</form> -->